.screen1 {
  min-height: 100vh;
  background: burlywood;
}
.screen2 {
  min-height: 100vh;
  background: rgb(82, 82, 63);
}
.screen3 {
  background: rgb(70, 70, 54);
  text-align: center;
}
.pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  padding: 20px 0;
}
h2 {
  text-align: center;
  padding-top: 27px;
}
.reset {
  text-align: center;
}
.error {
  color: red;
  text-align: center;
  font-size: 150%;
}
.reset {
  height: 70px;
}
